<% title 'Articles' %>

<div id="tag_cloud">
  <% tag_cloud Tag.tag_counts, %w{s m l} do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), :class => css_class %>
  <% end %>
</div>

<div id="articles">
<% @articles.each do |article| %>
  <h2 style="inline">
    <%= link_to article.title, article %>
    <span class="comments">
      (<%= pluralize(article.comments.count, 'comment') %>)
      <%= tags_for article %>
    </span>
  </h2>
  <div class="author">
    from <%= article.author %> 
    on <%= article.published_on.strftime("%b %d, %Y") %>
  </div>
<% end %>
</div>

<br />

<%= link_to 'New Article', new_article_path %>
