<% title 'Articles' %>

<div id="articles">
<% @articles.each do |article| %>
  <h2>
    <%= link_to article.title, article %>
    <span class="comments">
      (<%= pluralize(article.comments.count, 'comment') %>)
    </span>
  </h2>
  <div class="author">
    from <%= article.author %> 
    on <%= article.published_on.strftime("%b %d, %Y") %>
  </div>
  <div class="content"><%= simple_format article.body %></div>
<% end %>
</div>


<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Published on</th>
    <th>Author</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.body %></td>
    <td><%= article.published_on %></td>
    <td><%= article.author %></td>
    <td><%= link_to 'Show', article %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Article', new_article_path %>
