<% title 'Articles' %>

<div id="articles">
<% @articles.each do |article| %>
  <h2>
    <%= link_to article.title, article %>
    <span class="comments">
      (<%= pluralize(article.comments.count, 'comment') %>)
    </span>
  </h2>
  <div class="author">
    from <%= article.author %> 
    on <%= article.published_on.strftime("%b %d, %Y") %>
  </div>
<% end %>
</div>

<br />

<%= link_to 'New Article', new_article_path %>
