<% title @article.title %>

<p class="author">
<em>from <%= @article.author %></em>
on <%= @article.published_on %>
</p>

<%= raw BlueCloth.new(@article.body).to_html %>

<p>
  <% if can? :edit, @article %>
    <%= link_to "Edit", edit_article_path(@article) %> |
  <% end %>
  <% if can? :destroy, @article %>
    <%= link_to "Destroy", @article, :method => :delete, :confirm => "Are you sure?" %> |
  <% end %>
  <%= link_to "Back to Articles", articles_path %>
</p>

<% unless @article.comments.empty? %>
  <h2><%= pluralize(@article.comments.size, 'comment') %></h2>

  <div id="comments">
  <% for comment in @article.comments %>
    <div class="comment">
      <strong><%= comment.author %></strong>
      <em>on <%= comment.created_at.strftime('%b %d, %Y at %H:%M') %></em>
      <strong><%= comment.title %></strong>
      <%= raw BlueCloth.new(comment.body).to_html %>
      <div>
      <%= link_to 'Edit', edit_comment_path(comment) %> |
      <%= link_to 'Destroy', comment, :method => :delete, :confirm => "Are you sure?" %> |
      <%= link_to 'Reply', new_answer_path(:comment_id => comment) %>
      </div>
      <% comment.answers.each do |answer| %>
        <div class="answer">
	  <strong><%= answer.author %></strong>
          <em>on <%= answer.created_at.strftime('%b %d, %Y at %H:%M') %>:</em>
          <%= raw BlueCloth.new(answer.body).to_html %>
          <div>
            <%= link_to 'Edit', edit_answer_path(answer) %> |
            <%= link_to 'Destroy', answer, :method => :delete, :confirm => "Are you sure?" %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  </div>
<% end %>

<h3>Add your comment:</h3>
<%= render :partial => 'comments/form' %>

